@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: rgb(247, 247, 247);
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.avatar {
  width:300px;
}

/* VisitCards */

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.card {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 20px;
  width: 25%;
}

.card-img {
  border-radius: 3px;
  width: 100%;
}

.container {
  padding: 2px 10px;
}

/* 
.buttn-card {
  color: #0a0a0a;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(17, 17, 17, 0.2);
  background: transparent;
}

.buttn-card:hover {
  background-color: rgba(69, 69, 69, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
}

.cards-item {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%;
  }
}

.card-img {
  max-height: 100%;
  min-height: 50%;
  max-width: 100%;
  object-fit: fill;
  vertical-align: middle;
}


.card {
  background-color: rgb(255, 255, 255);
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
  height: 100%;
  max-height: 130px;
  background: rgb(247, 247, 247);
}

.card-title {
  color: #ffffff;
  letter-spacing: 1px;
  /* margin: auto; */
/* }

.card-txt {
  color: #050505;
  line-height: 1.5;
  margin-bottom: 1.25rem;
} */

