@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

body {
  background-color: #363639;
  margin: 0;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NavBar */
.navbar {
  background-color: rgb(54, 54, 57);
  padding: 10px;
}

.navbar-toggle {
  display: inline-block;
  cursor: pointer;
  color: #f4f4f4;
}

.navbar-toggle-icon {
  width: 30px;
  height: 5px;
  background-color: #f4f4f4;
  margin: 6px 0;
}

/* make flex */
.navbar-logo {
  position: absolute;
    top: 10px;
    left: 10px;
    width: 165px;
    /* overflow: hidden; */
}

.navbar-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
}

.navbar-links li {
  margin: 0 10px;
}

.navbar-links a {
  color: #f4f4f4;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-links {
    display: flex;
  }

  .navbar-links.active {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    padding: 10px;
  }

  .navbar-links.active li {
    margin: 10px 0;
  }
}



/* Profile */
.avatar {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

/* VisitCards */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: calc(33.33% - 20px);
  margin-bottom: 20px;
  border-radius: 3px;
  background-color: #f4f4f4;
  padding: 20px;
  box-sizing: border-box;
}

.card-image {
  border-radius: 3px;
  width: 100%;
  height: auto;
}

.card-title {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.card-text {
  font-weight: 300;
  margin-left: 5px;
}
.rate-container {
  margin: 0px;
}
.card-date {
  float: right;
  margin-right: 3px;
}

.stars {
  max-height: 33px;
}

.comment-toggle-button {
  display: block;
  margin-bottom: 10px;
}

.card-comments {
  display: none;
}

.trash {
  max-height: 17px;
}

.icons {
  max-height: 25px;
  margin: 10px;
}

.icons:hover {
  cursor: pointer;
}


@media (max-width: 768px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .card {
    width: 100%;
  }
}

/* TruckCards */

.truck-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  /* Adjust the max-width as needed */
  margin: 0 auto;
}
.truck-card {
  width: 100%;
  max-width: 300px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  cursor: pointer;
}

.truck-card-image {
  width: 100%;
  height: auto;
  border-radius: 4px 4px 0 0;
}

.truck-card-title {
  font-size: 16px;
  margin: 10px;
  margin-bottom: 0;
}

/* TruckPage */

.yelp-icon {
  width: 40px;
}




